@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.convector, .loger , .trader{
  display: flex;
  margin-top: 30px;
}

.convector .input-group span {
  min-width: 194px;
}

.convector .input-group {
  margin-bottom: 20px;
}

.convector .card-text {
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loger textarea {
  min-height: 150px;
}

.log-item .card-header {
  display: flex;
}

.log-item small {
  margin-right: 15px;
}

.log-item .btn {
  margin-left: auto;
  transition: opacity .2s linear;
  opacity: 0;
}

.log-item:hover .btn {
  opacity: 1;
}

.loger-content {
  max-height: 75vh;
  overflow-y: auto;
}

.close-btn {
  line-height: 1;
}

.convector .card-text {
  font-size: 6.67vw;
  font-weight: 700;
}

.convector .form-group {
  margin-bottom: 0;
}

.react-datepicker__input-container input {
  padding: 0 10px;
}