@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.convector .input-group span {
  min-width: 194px;
}
.convector .input-group {
  width: 50%;  
  margin-bottom: 20px;
}

.convector .card-text {
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loger textarea {
  min-height: 150px;
}

.log-item .card-header {
  display: flex;
}

.log-item small {
  margin-right: 15px;
}

.log-item .btn {
  margin-left: auto;
  transition: opacity .2s linear;
  opacity: 0;
}

.log-item:hover .btn {
  opacity: 1;
}

.loger-content {
  max-height: 75vh;
  overflow-y: auto;
}

.close-btn {
  line-height: 1;
}

.convector .card-text {
  font-size: 6.67vw;
  font-weight: 700;
}

.convector .form-group {
  margin-bottom: 0;
}

.react-datepicker__input-container input {
  padding: 0 10px;
}

.active a{
  color: #fff;
}
.badge {
     display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
.badge:empty {
  display: none;
}

.offset-bottom{
  margin-bottom: 20px;
}
